.m-quiz {
  .m-quiz__swiper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;

    background-color: $white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .swiper-container {
    max-height: 100%;
  }

  .simplebar-track.simplebar-vertical {
    top: 25px;
    bottom: 25px;
    right: 7px;

    @include small-tablet {
      right: 2px;
    }

    width: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 3px;
      background: #bbb;
      border-radius: 5px;
    }
  }

  .simplebar-scrollbar {
    cursor: pointer;
    pointer-events: visible;
  }

  .simplebar-scrollbar::before {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 10px;
    margin: -2px 0;

    background-color: $cta;
    opacity: 1;
    cursor: pointer;
  }
}

.m-quiz {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  font-family: $main-font;

  *,
  &::after,
  &::before {
    box-sizing: inherit;
  }

  // .m-quiz__pagination-count

  &__pagination-count {
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
  }

  // .m-quiz__pagination-current

  &__pagination-current {
    font-weight: 700;
    margin-right: 5px;
  }

  // .m-quiz__pagination-total

  &__pagination-total {
  }

  // .m-quiz__scrollbar

  &__scrollbar {
    position: relative;

    display: flex;
    height: 15px;
    overflow: hidden;
    margin-bottom: 23px;

    border-radius: 15px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      height: 5px;
      width: 100%;

      background-color: #bbbbbb;
      border-radius: 5px;
    }
  }

  // .m-quiz__scrollbar-fill

  &__scrollbar-fill {
    position: relative;
    z-index: 2;

    background-color: $cta;
    border-radius: 150px;

    transition: width 0.3s;
  }

  // .m-quiz__slider

  &__slider {
    width: 100%;
    max-width: calc(100% - 382px - 34px);

    @include large {
      flex-grow: 1;
      max-width: calc(100% - 300px);
      margin-left: auto;
      margin-right: auto;
    }

    @include tablet {
      max-width: 738px;
    }
  }

  // .m-quiz__slide

  &__slide {
    max-height: 480px;
    padding: 25px 0;

    @include small-tablet {
      max-height: none;
    }

    @include mobile {
      padding: 15px 0;
    }

    &:first-child {
      max-height: 450px;

      @include small-tablet {
        max-height: 450px;
      }
    }

    &[data-simplebar] {
      overflow-x: hidden;
    }
  }

  // .m-quiz__navigation

  &__navigation {
    position: relative;

    display: flex;
    justify-content: center;
  }

  // .m-quiz__btn

  &__btn {
    position: relative;

    max-width: 303px;
    width: 100%;
    padding: 13px 25px;

    font-family: inherit;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    background-color: $cta;
    box-shadow: 0px 2px 0px #000000;
    border: none;
    border-radius: 20px;
    outline: transparent;
    @include c-pointer;

    transition: background-color 0.25s;

    &:hover {
      background-color: darken($cta, 5%);
    }

    &:active {
      background-color: darken($cta, 10%);
    }

    &.hide {
      // display: none;
      pointer-events: none;
      @include c-default;
      background: #dadada;
    }

    // .m-quiz__btn--prev

    &--prev {
      margin-right: 30px;

      @include mobile {
        margin-right: 15px;
      }
    }

    // .m-quiz__btn--next

    &--next {
    }

    &:disabled {
      @include c-default;
      background: #dadada;

      &:not(.hide) {
        & + .m-quiz__btn-prompt {
          opacity: 1;
        }
      }
    }
  }

  // .m-quiz__btn-prompt

  &__btn-prompt {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    right: 0;

    text-align: center;
    color: red;
    font-size: 14px;

    opacity: 0;

    transition: opacity 0.4s;

    @include small-tablet {
      font-size: 12px;
    }
  }

  // .m-quiz__title

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0 35px;

    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;

    @include small-tablet {
      max-width: 97%;
      font-size: 28px;
      padding: 0 25px;
    }

    @include mobile {
      font-size: 24px;
      padding: 0 15px;
      margin-bottom: 15px;
    }
  }

  // .m-quiz__types

  &__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;

    @include mobile {
      justify-content: center;
      padding: 0 15px;
    }
  }

  // .m-quiz__house-type

  &__house-type {
    max-width: 236px;
    width: 100%;
    margin-bottom: 25px;

    @include large {
      max-width: 32%;
    }

    @include tablet {
      max-width: 216px;
    }

    @include small-tablet {
      margin-bottom: 2vw;
      max-width: calc(50% - 1vw);
      min-height: 29vw;
    }

    @include mobile {
      max-width: 320px;
      min-height: 167px;
    }
  }

  // .m-quiz__info

  &__info {
    position: relative;

    max-width: 382px;
    width: 100%;
    padding: 67px 45px 169px;

    text-align: center;

    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    @include large {
      display: flex;
      flex-direction: column;
      padding: 30px 10px 169px;
      max-width: 280px;
      margin-top: 82px;
    }

    @include tablet {
      display: none;
    }
  }

  // .m-quiz__questions-progress

  &__questions-progress {
    color: $black;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;

    span {
      font-weight: 700;
      color: #000;
    }
  }

  // .m-quiz__info-text

  &__info-text {
    margin: 30px 0;

    font-size: 22px;

    @include large {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  // .m-quiz__discount

  &__discount {
    display: flex;
    flex-direction: column;
    margin: 0 -35px;

    color: $cta;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;

    @include large {
      margin: 35px 0;
    }
  }

  // .m-quiz__discount-number

  &__discount-number {
    color: $black;
    font-size: 145px;
    font-weight: inherit;

    @include large {
      font-size: 90px;
      line-height: 1;
    }
  }

  // .m-quiz__discount-image

  &__discount-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 164px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include large {
      height: 164px;
      background-size: contain;
      background-position: center bottom;
    }
  }

  // .m-quiz__form

  &__form {
    display: flex;
    padding: 0 30px 0 35px;

    @include small-tablet {
      flex-direction: column-reverse;
      padding: 0 15px 0;
    }
  }

  // .m-quiz__form-left

  &__form-left {
    margin-right: 30px;
    flex-basis: 300px;

    @include large {
      flex-grow: 1;
    }

    @include small-tablet {
      margin-right: 0;
      max-width: 97%;
      flex-basis: auto;
    }

    // .m-quiz__form-left--centered

    &--centered {
      display: flex;
      align-items: center;

      @include small-tablet {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    // .m-quiz__form-left--column

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include small-tablet {
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  // .m-quiz__form-image

  &__form-image {
    width: 402px;
    height: 342px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;

    @include large {
      max-width: 50%;
      width: 100%;
    }

    @include small-tablet {
      width: 100%;
      max-width: 402px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    @include mobile {
      max-width: 97%;
      height: 60vw;
      max-height: 342px;
      margin-bottom: 20px;
    }
  }

  // .m-quiz__row

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .m-radio {
      width: calc(50% - 7px);
    }

    // .m-quiz__row--column

    &--column {
      flex-direction: column;
      width: 100%;

      @include small-tablet {
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      .m-radio {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;

          @include small-tablet {
            margin-right: 10px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // .m-quiz__signature

  &__signature {
    max-width: 255px;
    margin-top: 21px;

    font-size: 18px;
    font-weight: 400;
  }

  // .m-quiz__final

  &__final {
    padding-left: 43px;
    max-width: 513px;

    @include large {
      padding: 0 15px;
      max-width: 485px;
    }

    @include small-tablet {
      max-width: 97%;
      display: flex;
      flex-direction: column;
      padding: 0 15px;
    }
  }

  // .m-quiz__final-title

  &__final-title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 43px;

    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;

    @include large {
      order: 5;
      padding: 0 15px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  // .m-quiz__final-text

  &__final-text {
    margin: 0 0 25px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 465px;

    @include large {
      order: 1;
      margin: 10px 0;

      font-size: 16px;
    }

    @include mobile {
      margin: 5px 0;
    }
  }

  // .m-quiz__final-suptitle

  &__final-suptitle {
    margin: 0 0 10px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    @include small-tablet {
      order: 1;
    }
  }

  // .m-quiz__social

  &__social {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    margin-bottom: 25px;

    @include small-tablet {
      order: 1;
    }

    @include mobile {
      flex-wrap: wrap;
      align-items: center;
    }
  }

  // .m-quiz__socia-item

  &__socia-item {
    max-width: 134px;
    width: 100%;

    @include mobile {
      max-width: calc(50% - 4px);
      margin: 0 2px;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @include mobile {
        margin-right: 2px;
        margin-bottom: 10px;
      }
    }

    &:last-child {
      @include mobile {
        max-width: 100%;
      }
    }
  }

  // .m-quiz__social-btn

  &__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 100%;

    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;

    border-radius: 10px;
    border: 1px solid $black;
    background-color: transparent;
    outline: transparent;
    @include c-pointer;
    transition: background-color 0.2s;

    @include mobile {
      // justify-content: flex-start;
    }

    &.active {
      background-color: $cta;

      .s-icon {
        fill: white;
      }
    }

    .s-icon {
      width: 36px;
      height: 36px;
      margin-right: 5px;
      fill: black;
    }
  }

  // .m-quiz__final-number

  &__final-number {
    max-width: 303px;

    @include small-tablet {
      order: 2;
      max-width: 300px;
    }

    @include mobile {
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto 0;
      width: 100%;
    }

    &:not(:last-child) {
      @include mobile {
        margin-bottom: 5px;
      }
    }
  }

  // .m-quiz__final-btn

  &__final-btn {
    max-width: 301px;
    width: 100%;
    padding: 13px 25px;
    margin-top: 10px;

    font-family: inherit;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    background: #ffaa6b;
    border: none;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 20px;
    @include c-pointer;

    transition: background-color 0.25s;

    @include small-tablet {
      order: 3;
    }

    @include mobile {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: darken($cta, 5%);
    }

    &:active {
      background-color: darken($cta, 10%);
    }
  }

  // .m-quiz__final-discount

  &__final-discount {
    display: none;

    @include large {
      display: block;
      margin-top: 15px;
      order: 5;
    }

    @include mobile {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }

    span {
      font-weight: 700;
    }
  }

  // .m-quiz__final-image

  &__final-image {
    position: absolute;
    bottom: 0px;
    right: 30px;

    width: 242px;
    height: 324px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include large {
      width: 200px;
      right: 0;
      background-position: center bottom;
    }

    @include tablet {
      right: 0;
    }

    @include small-tablet {
      position: static;
      order: 1;
      height: 30vw;
      max-height: 180px;
      width: 100%;
      max-width: 300px;
    }

    @include mobile {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // .m-quiz__swiper

  &__swiper {
  }
}
