.reviews {
  padding-top: 60px;
  padding-bottom: 130px;

  &__container {
    position: relative;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 35px;
    }
  }

  &__title {
    max-width: 685px;
    font-size: 44px;
    line-height: 1.3;
    text-align: left;
    margin-right: 20px;

    @include large {
      font-size: 34px;
      max-width: 58%;
    }

    @include tablet {
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  &__grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 97px;
    background-image: url('../images/icons/review-icon.svg');
    background-size: 77px;
    background-position: left bottom;
    background-repeat: no-repeat;

    @include tablet {
      background-size: 60px;
      padding-left: 75px;
    }

    @include small-tablet {
      background-size: 34px;
      padding-left: 45px;
    }
  }

  &__descr {
    padding-top: 18px;
    margin-bottom: 5px;
    background-image: url('../images/icons/stars.svg');
    background-size: 100% 13px;
    background-position: top center;
    background-repeat: no-repeat;

    @include small-tablet {
      font-size: 9px;
    }

    @include small-tablet {
      padding-top: 10px;
      background-size: 100% 8px;
    }
  }

  &__link {
    padding: 8px 11px;

    @include tablet {
      font-size: 14px;
      padding: 5px 8px;
    }

    @include small-tablet {
      font-size: 9px;
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    opacity: 0.5;
  }

  .swiper-slide-visible {
    opacity: 1;
  }

  .swiper-slide-next {
    margin-right: 65px !important;
  }

  &__wrapper {
    max-width: 87%;
    overflow-x: hidden;

    @include tablet {
      max-width: 100%;
    }
  }

  &__slider {
    max-width: 660px;
    width: 100%;
    padding-left: 40px;
    position: relative;

    @include tablet {
      max-width: 385px;
    }

    @include small-tablet {
      padding-left: 17px;
      max-width: 55%;
    }

    @include mobile {
      max-width: 93%;
    }
  }

  &__box {
    padding: 25px 10px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $color-grey;
    border-radius: 30px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    font-size: 12px;
    margin-bottom: 22px;

    @include tablet {
      font-size: 9px;
    }
  }

  &__ref {
    font-weight: 300;
    font-size: 11px;
    text-decoration: underline;

    @include small-tablet {
      font-size: 10px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $color-dark;

    &::after {
      @include tablet {
        font-size: 15px;
      }

      @include small-tablet {
        font-size: 12px;
      }
    }

  }

  .swiper-button-prev {
    left: -40px;

    @include small-tablet {
      left: -23px;
    }
  }

  .swiper-button-next {
    right: -45px;

    @include small-tablet {
      right: -30px;
    }
  }

  &__phone {
    max-width: 250px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 34%;
    right: 8%;
    z-index: 20;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include large {
      right: 0%
    }

    @include small-tablet {
      max-width: 130px;
      top: 45%;
      right: 6%;
    }

    @include mobile {
      max-width: 96px;
      top: 11%;
      right: 8%;
      z-index: -1;
    }
  }

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}