.services {
  padding-top: 60px;
  padding-bottom: 37px;

  &__title {
    max-width: 885px;
    margin: 0 auto 110px;

    @include small-tablet {
      margin-bottom: 55px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    margin-bottom: 103px;

    @include tablet {
      margin-bottom: 70px;
    }

    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &__inner {
    .services__article {
      &:not(:last-child) {
        margin-bottom: 10px;

        @include tablet {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    &:not(:last-child) {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 20px;
      }
    }

    @include tablet {
      grid-gap: 34px;
    }

    @include small-tablet {
      grid-template-columns: repeat(1, 440px);
      grid-gap: 20px;
      justify-content: center;
    }

    @include mobile {
      grid-template-columns: repeat(1, 280px);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 18px;

    p:not(:last-child) {
      margin-bottom: 15px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include small-tablet {
      font-size: 9px;
    }
  }

  @include small-tablet {
    padding-top: 40px;
  }
}

.article-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: $color-grey;
  border-radius: 30px;

  &__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;

    span {
      display: block;
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 19px;

      @include mobile {
        font-size: 12px;
      }
    }

    @include large {
      font-size: 16px;
    }

    @include tablet {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__price {
    display: inline-block;
    padding: 0 28px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 1.9;
    text-align: center;
    border-radius: 30px;
    background-color: $color-white;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include small-tablet {
      margin-bottom: 20px;
    }
  }

  &__img {
    max-width: 245px;
    width: 100%;
    height: 172px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      max-width: 142px;
      height: 143px;
    }

    @include mobile {
      max-width: 114px;
      height: 112px;
    }
  }

  &__list {
    margin-left: 15px;
  }

  &__text {
    padding-left: 23px;
    font-size: 18px;
    line-height: 1.9;
    background-image: url('../images/icons/arrow-right.svg');
    background-size: 13px 8px;
    background-position: left top 10px;
    background-repeat: no-repeat;

    @include large {
      font-size: 14px;
    }

    @include tablet {
      font-size: 11px;
      background-size: 8px 8px;
    }

    @include mobile {
      font-size: 9px;
      background-size: 6px 6px;
      background-position: left top 5px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    padding: 11px 83px;

    @include large {
      padding: 9px 50px;
    }

    @include tablet {
      padding: 9px 35px;
    }

    @include mobile {
      font-size: 14px;
      padding: 9px 21px;
    }

    margin-right: 15px;
  }

  &__link {
    display: inline-block;
    padding-left: 27px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline;
    background-image: url('../images/icons/calc.svg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    &--arrow {
      background-image: url('../images/icons/arrow-ref.svg');
    }

    @include large {
      font-size: 14px;
    }

    @include tablet {
      padding-left: 15px;
      font-size: 11px;
    }

    @include mobile {
      font-size: 9px;
    }
  }


  &--big {
    .article-services__inner {
      flex-direction: row-reverse;
      margin-bottom: 20px;

      .article-services__img {
        margin: 0;

        @include tablet {
          max-width: 146px;
          height: 175px;
        }

        @include mobile {
          max-width: 122px;
          height: 175px;
        }
      }
    }

    .article-services__list {
      margin-left: 0;
      margin-right: 20px;
    }

    .article-services__link {
      margin-bottom: auto;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    .article-services__btn {
      margin-right: 0;
      margin-left: 15px;
    }

    .article-services__links {
      .article-services__link {
        margin-bottom: 0;
      }
    }

    .article-services__img {
      margin: auto;

      @include tablet {
        max-width: 229px;
        height: 141px;
      }

      @include small-tablet {
        margin: 0 auto 20px;
      }

      @include mobile {
        max-width: 185px;
      }
    }
  }

  @include mobile {
    padding: 15px;
  }
}