.stages-work {
  &__map {
    width: 100%;
    height: 550px;
    background-color: gray;
    border-radius: 20px;
    overflow: hidden;
  }
}

.balloon {
  max-width: 340px;
  width: 100%;
  padding: 15px 20px;
  background: $color-white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  &__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: $color-dark;
    margin-bottom: 15px;
  }

  &__descr {
    max-width: 220px;
    font-weight: 500;
    font-size: 14px;
    color: #373738;
    margin-bottom: 15px;
  }

  &__list {
    margin-bottom: 24px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;

    &--orange {
      color: $color-orange;
    }
  }

  .form {
    padding: 0;
    align-items: flex-start;
    background-color: transparent;
  }

  .form__title {
    font-size: 18px;
  }

  .form__btn {
    width: 100%;
  }

  .form__input {
    &::placeholder {
      font-size: 14px;
    }
  }
}

[class*="ymaps"] {
  box-sizing: border-box !important;
}

// [class*="balloon__close-button"] {
//   opacity: 1;
// }