.call {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    background: $color-grey;
    box-shadow: 0px 4px 8px 4px rgba($color-dark, 0.25);
    border-radius: 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;

    &:first-child {
      @include mobile {
        display: none;
      }
    }

    &:last-child {
      text-align: center;
      justify-content: flex-end;

      @include tablet {
        padding-top: 100px;
        justify-content: flex-start;
      }

      @include mobile {
        padding-top: 0;
        align-items: center;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        width: 2px;
        height: 65px;
        background-color: #000;
        position: absolute;
        right: -28px;
        top: 0;
        top: 50%;
        transform: translateY(-50%);

        @include small-tablet {
          display: none;
        }
      }

      margin-right: 30px;
    }

    &--man {
      background-image: url('../images/icons/call-man.svg');
      background-size: 80px;
      background-position: center top;
      background-repeat: no-repeat;

      @include mobile {
        background-image: none;
      }
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__smalltitle {
    font-size: 20px;
    margin-bottom: 10px;

    @include small-tablet {
      font-size: 11px;
      margin-bottom: 15px;
    }
  }

  &__text {
    max-width: 275px;
    font-size: 18px;
    margin-bottom: 25px;

    @include tablet {
      margin-bottom: 10px;
    }

    @include small-tablet {
      font-size: 10px;
    }
  }

  &__online {
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: auto;
    position: relative;

    span {
      font-weight: 400;
    }

    &::before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #6BC45A;
      position: absolute;
      left: 0;
      top: 3px;
      animation: blink 1.5s ease-in 1s infinite;

      @include tablet {
        width: 4px;
        height: 4px;
      }
    }

    @include small-tablet {
      padding-left: 10px;
      font-size: 9px;
    }

    @keyframes blink {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &__question {
    align-self: flex-start;
    background-color: $color-white;
    padding: 7px 8px;
    padding-left: 40px;
    border-radius: 20px;
    background-image: url('../images/icons/whatsapp.svg');
    background-size: 25px;
    background-position: left 10px center;
    background-repeat: no-repeat;

    @include small-tablet {
      font-size: 9px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 28px;
    text-align: center;

    @include small-tablet {
      font-size: 12px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  .form {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 0;

    @include tablet {
      max-width: 190px;
      margin: 0 auto;
    }

    @include small-tablet {
      max-width: 140px;
    }

    @include mobile {
      max-width: 125px;
    }
  }

  .form__label {
    margin-bottom: 28px;

    @include small-tablet {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  .form__input {
    @include mobile {
      padding: 4px;
      padding-left: 6px;
    }
  }

  &__btn {
    padding: 11px 81px;

    @include tablet {
      padding: 11px 30px;
    }

    @include small-tablet {
      font-size: 14px;
      padding: 7px 27px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__descr {
    max-width: 220px;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 12px;

    @include tablet {
      font-size: 16px;
    }

    @include small-tablet {
      font-size: 10px;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 20px;

    @include tablet {
      font-size: 16px;
    }

    @include small-tablet {
      font-size: 10px;
    }
  }
}